@import "@styles/variables";

.cardPageItem { 
    display: flex;    
    max-width: 60%;
    height: 544px;    
    position: relative; 
    margin: 0 auto;
    margin-top: 50px; 
    text-decoration: none;
    
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);   
}
.cardPageItemImg {
    max-width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}
.cardPageItemWrapper {
    margin-top: 5%;
    width: 60%;
    margin-right: 2%;
}
.cardItemName {
    font-family: 'Eudoxus Sans', sans-serif;
    font-style: normal;
    font-weight: $font-weight7;
    font-size: $font-size18;
    line-height: 130%;
    color: $ligth-grey;
    margin: 0;
    margin-top: 26px;    
    padding: 0;
}
.cardItemFont {
    font-family: 'Eudoxus Sans', sans-serif;
    font-style: normal;
}
.cardItemTitle {    
    font-weight: $font-weight7;
    font-size: 20px;    
}
.cardItemSubtitle {    
    font-family: 'Eudoxus Sans';
    font-style: normal;
    font-weight: $font-weight7;
    font-size: $font-size18;
    line-height: 130%;
    color: $ligth-grey;
    margin-bottom: 0;
}
.cardItemDescription {
    font-weight: $font-weight5;
    font-size: $font-size14;    
    color: $ligth-grey;
}
.cardPageItemContent {    
    font-weight: $font-weight7;
    font-size: $font-size24; 
    margin: 0;
    position: absolute;
    bottom: 220px;
}