.cardPageItem { 
    display: flex;    
    max-width: 60%;
    height: 544px;    
    position: relative; 
    margin: 0 auto;
    margin-top: 50px; 
    text-decoration: none;
    
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);   
}
/* .cardPageItemImage {   
    margin-top: 5%; 
    width: 40%;
} */
.cardPageItemImg {
    max-width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}
.cardPageItemWrapper {
    margin-top: 5%;
    width: 60%;
    margin-right: 2%;
}
.cardItemName {
    font-family: 'Eudoxus Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #AFADB5;
    margin: 0;
    margin-top: 26px;    
    padding: 0;
}
.cardItemFont {
    font-family: 'Eudoxus Sans', sans-serif;
    font-style: normal;
}
.cardItemTitle {    
    font-weight: 700;
    font-size: 20px;    
}
.cardItemSubtitle {    
    font-family: 'Eudoxus Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #AFADB5;
    margin-bottom: 0;
}
.cardItemDescription {
    font-weight: 500;
    font-size: 14px;    
    color: #AFADB5;
}
.cardPageItemContent {    
    font-weight: 700;
    font-size: 24px; 
    margin: 0;
    position: absolute;
    bottom: 220px;
}