@font-face {
  font-family: 'Eudoxus Sans';
  font-weight: 500;
  src: local('Eudoxus Sans'), url(./fonts/EudoxusSans-Light.woff2) format('opentype');
}
@font-face {
  font-family: 'Eudoxus Sans';
  font-weight: 700;
  src: local('Eudoxus Sans'), url(./fonts/EudoxusSans-Medium.woff2) format('opentype');
}

body {
  margin: 0;
  font-family: 'Eudoxus Sans';
  box-sizing: border-box;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
