.cardItem { 
    margin: 0 auto;    
}
.cardItemWrapper {
    display: flex;  
    flex-direction: column; 
    max-width: 360px;
    height: 544px;    
    position: relative; 
    margin: 0 auto; 
    padding: 2%;
}
.cardItemImage {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardItemImg {
    height: 60%;
    display: block;
    margin: 0 auto;
}
.cardItemName {
    font-family: 'Eudoxus Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #AFADB5;
    margin: 0;
    margin-top: 26px;    
    padding: 0;
}
.cardItemFont {
    font-family: 'Eudoxus Sans', sans-serif;
    font-style: normal;
}
.cardItemTitle {    
    font-weight: 700;
    font-size: 20px;    
}
.cardItemSubtitle {    
    font-family: 'Eudoxus Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #AFADB5;
}
.cardItemDescription {
    color: #AFADB5;
}
.cardItemContent {    
    font-weight: 700;
    font-size: 24px; 
    margin: 0;
    position: absolute;
    bottom: 10px;
}